.arrow { background-position:  -0px -0px; height: 7px; width: 5px; }
.brush { background-position:  -5px -0px; height: 26px; width: 30px; }
.button { background-position:  -5px -26px; height: 24px; width: 24px; }
.check { background-position:  -35px -0px; height: 160px; width: 220px; }
.clients { background-position:  -5px -50px; height: 20px; width: 24px; }
.comments { background-position:  -5px -70px; height: 23px; width: 24px; }
.download { background-position:  -5px -93px; height: 26px; width: 28px; }
.down_arrow { background-position:  -5px -119px; height: 5px; width: 7px; }
.dribbble { background-position:  -35px -160px; height: 51px; width: 53px; }
.email { background-position:  -5px -124px; height: 17px; width: 24px; }
.facebook { background-position:  -88px -160px; height: 51px; width: 53px; }
.figures { background-position:  -35px -211px; height: 160px; width: 220px; }
.info_set { background-position:  -5px -141px; height: 192px; width: 26px; }
.lemon { background-position:  -255px -0px; height: 160px; width: 220px; }
.link { background-position:  -5px -333px; height: 26px; width: 20px; }
.linkedin { background-position:  -141px -160px; height: 51px; width: 53px; }
.list1 { background-position:  -255px -160px; height: 160px; width: 220px; }
.list10 { background-position:  -255px -320px; height: 160px; width: 220px; }
.list11 { background-position:  -475px -0px; height: 160px; width: 220px; }
.list12 { background-position:  -695px -0px; height: 160px; width: 220px; }
.list2 { background-position:  -475px -160px; height: 160px; width: 220px; }
.list3 { background-position:  -475px -320px; height: 160px; width: 220px; }
.list4 { background-position:  -695px -160px; height: 160px; width: 220px; }
.list5 { background-position:  -695px -320px; height: 160px; width: 220px; }
.list6 { background-position:  -0px -0px; height: 160px; width: 220px; }
.list7 { background-position:  -0px -160px; height: 160px; width: 220px; }
.list8 { background-position:  -0px -320px; height: 160px; width: 220px; }
.list9 { background-position:  -220px -0px; height: 160px; width: 220px; }
.logo1 { background-position:  -35px -371px; height: 64px; width: 103px; }
.logo2 { background-position:  -35px -435px; height: 56px; width: 97px; }
.logo3 { background-position:  -138px -371px; height: 43px; width: 116px; }
.logo4 { background-position:  -138px -414px; height: 71px; width: 110px; }
.logo5 { background-position:  -915px -0px; height: 67px; width: 81px; }
.logo6 { background-position:  -220px -160px; height: 34px; width: 147px; }
.map { background-position:  -440px -0px; height: 200px; width: 300px; }
.pag_ar { background-position:  -5px -359px; height: 27px; width: 27px; }
.pag_ar { background-position:  -29px -26px; height: 9px; width: 6px; }
.pag_d_ar { background-position:  -5px -386px; height: 27px; width: 27px; }
.pag_d_ar { background-position:  -5px -413px; height: 9px; width: 12px; }
.pinterest { background-position:  -194px -160px; height: 51px; width: 53px; }
.pointer { background-position:  -5px -422px; height: 24px; width: 14px; }
.preview { background-position:  -138px -485px; height: 25px; width: 35px; }
.share { background-position:  -915px -67px; height: 51px; width: 53px; }
.skype { background-position:  -968px -67px; height: 51px; width: 53px; }
.slider1 { background-position:  -0px -0px; height: 440px; width: 1000px; }
.slider_next { background-position:  -25px -333px; height: 10px; width: 7px; }
.slider_prev { background-position:  -25px -343px; height: 10px; width: 7px; }
.target { background-position:  -220px -194px; height: 160px; width: 220px; }
